body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  line-height: 1.4;
  background-color: #636c95;
  margin: 40px;
}

/* Navigation-Styling */
nav {
  background-color: lightgray;
  padding: 10px 20px;
}
nav ul {
  margin: 0;
  display: flex;
  list-style: none;
  gap: 8px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

nav a.aktuell {
  background-color: gray;
  color: white;
}

/* Erstes Listenelement nach links */
nav ul li:first-child {
  margin-right: auto;
}

/* Auf kleinen Bildschirmen wrap und bessere Anordnung */
@media (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li:first-child {
    margin-right: 0;
    order: -1;
    width: 100%;
    text-align: center;
  }
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  color: rgb(25, 0, 139);
  text-align: center;
}

/* Profilbild-Styling */
.profilbild {
  height: 150px;
  width: 400px;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px; 
}

p {
  font-family: Arial, Helvetica, sans-serif
  font-size: 16px; 
}




